# Repository scope
#
# Project documentation, A35 applications, and two STM32WBA firmware projects.
# Files elsewhere are local references.
/*
!/.gitignore
!/.gitattributes
!/README.md
!/docs/
!/.editorconfig
!/.github/
!/apps/
!/firmware/
