BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 100
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: false
FixNamespaceComments: false
PointerAlignment: Right
DerivePointerAlignment: false
SeparateDefinitionBlocks: Always
LineEnding: LF
